div.slider-5{
    width: 100%;
    height: 245px;
    background-color: var(--bg-white);
    text-align: center;
}
div.slider-5>div{
    height: 245px;
    display: inline-block;
    margin:0px 11px 10px 11px;
}
div.slider-5>div img{
    height: 240px;
    border-radius: 15px;
}