div.menu-1{
    width: 100%;
    height: 150px;
    text-align: center;
    background-color:var(--bg-white);
}
div.menu-1>div{
    display: inline-block;
    width: 110px;
    height: 110px;
    margin: 15px 10px 20px 30px;
    padding: 5px;
}
div.menu-1>div>img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    outline: 2px solid red;
    outline-offset: 5px;
}
div.menu-1>div>h5{
    font-family: yekan;
    font-size: 12px;
    margin-top: 3px;
}