div.menu-4{
    width: 100%;
    height: 615px;
    background-color: var(--bg-white);
}
div.menu-4>div:first-child{
    width: inherit;
    height: 110px;
    text-align: center;
    padding: 40px;
}
div.menu-4>div:first-child>h2{
    text-align: center;
    font-family: iransans;
    font-size: 16px;
    word-spacing: -4px;
}
div.menu-4>div:not(:first-child){
    width: 200px;
    height: 200px;
    display: inline-block;
    text-align: center;
    padding: 10px 20px 0px 5px;
}
div.menu-4>div:not(:first-child) img{
    width: 150px;
    height: 150px;
}
div.menu-4>div:not(:first-child)>a{
    text-decoration: none;
}
div.menu-4>div:not(:first-child) h5{
    font-family: yekan;
    font-size: 11px;
    margin-top: 2px;
    color: black;
}