@import url('./banner-xxl.css') screen and (min-width:1400px);
@import url('./banner-xl.css') screen and (min-width:1200px) and (max-width:1400px);
@import url('./banner-lg.css') screen and (min-width:992px) and (max-width:1200px);
@import url('./banner-md.css') screen and (min-width:768px) and (max-width:992px);
@import url('./banner-sm.css') screen and (min-width:576px) and (max-width:768px);
@import url('./banner-xs.css') screen and (max-width:576px);
@import url('./logo-xxl.css') screen and (min-width:1400px);
@import url('./logo-xl.css') screen and (min-width:1200px) and (max-width:1400px);
@import url('./logo-lg.css') screen and (min-width:992px) and (max-width:1200px);
@import url('./logo-md.css') screen and (min-width:768px) and (max-width:992px);
@import url('./logo-sm.css') screen and (min-width:576px) and (max-width:768px);
@import url('./logo-xs.css') screen and (max-width:576px);
@import url('./navigation-xxl.css') screen and (min-width:1400px);
@import url('./navigation-xl.css') screen and (min-width:1200px) and (max-width:1400px);
@import url('./navigation-lg.css') screen and (min-width:992px) and (max-width:1200px);
@import url('./navigation-md.css') screen and (min-width:768px) and (max-width:992px);
@import url('./navigation-sm.css') screen and (min-width:576px) and (max-width:768px);
@import url('./navigation-xl.css') screen and (max-width:576px);
header{
    width: 100%;
    height: 165px;
    position: sticky;
    /* right: 0; */
    top: 0;
    z-index: 99;
}