div.footer-1{
    width: 100%;
    height: 140px;
    background-color:var(--bg-white);
}
div.footer-1 > div{
    width: 50%;
    height: inherit;
    display: inline-block;
}
div.footer-1>div>img{
    width: 90px;
    height: 50px;
    display: block;
    margin: 10px;
}
div.footer-1>div>h5{
    display: inline-block;
    font-size: 10px;
    font-family: yekan;
    color: grey;
    margin:0px 10px 0px 10px ;
}
div.footer-1>div:last-child{
    float: left;
    text-align: left;
    padding-top: 30px;
    padding-left: 30px;
}
div.footer-1>div:last-child>a{
    text-decoration: none;
    border: 1px solid grey;
    color: grey;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    font-family: yekan;
    font-size: 11px;
}